body {
  padding: 50px;
}

div {
  margin-right: 50px;
  display: inline-block;
}

.style1 {
  background-color: #00B7FF;
}

.style2 {
  color: #ff0000;
}

.style3 {
  font-size: 50px;
}
